.section-stats {
    width: 93%;
    margin: 0 auto;
}

.container-stats {
    margin-top: 1.5rem;
    padding: 1.5rem 3rem;
}

.sprites {
    height: 50px;
    width: 50px;
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

.container-asides {
    display: flex;
    justify-content: space-between;
}