.section-stats {
    width: 100%;
    padding: 40px;
    padding-top: 0;
}

.container-stats {
    margin-top: 1.5rem;
    padding: 1.5rem 3rem;
}

.sprites {
    height: 50px;
    width: 50px;
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

.weight-height {
    font-size: 1.2rem;
    color: #000000;
}

.container-asides {
    display: flex;
    justify-content: space-between;
}