.section-stats {
    width: 93%;
    margin: 0 auto;
}

.container-stats {
    margin-top: 1.5rem;
    padding: 1.5rem 3rem;
}

.sprites {
    height: 50px;
    width: 50px;
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    line-height: 16.63px;
}

.sprites-back {
    left: 68px;
    top: 62px;
}

.container-asides {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.img-not-found {
    margin-top: 1rem;
}